@media (min-width: 640px) and (max-width: 768px)
  .about-table
    margin-top -10%
    margin-left 5.5%

  .about-table__left
    width: 120px

  .about-table img
    max-width 92.8%
    height auto
    width auto\9 /* ie8 */
  
  .about-table__h3 
    margin-left 0
    font-size 110%
  
  .about-table__p 
    margin-top 8.5%
    margin-left 1%
    margin-bottom 27px
    font-size 150%
  
  .about-table__border 
    margin-top -10%
    margin-left -1%
    margin-bottom 30px
  
  .header__delo
    margin-top 5%
    margin-bottom 10%
  
  .about-table-academy
    margin-top -11%
    margin-top -5%
  
  input[type="radio"] + label span
    margin-left -10%;
    margin-right 0

  .naviki-h3
    margin-left 5.9%
    font-size 110%
  
  .naviki-info 
    margin-top 25px
    margin-left 5.2%
    line-height 1.5
  
  .naviki-info__star 
    margin-top -24px

  .naviki-info__p
    margin-top -20px
    font-size 75%

  .practical-skills
    margin-top -2%
    margin-left 2.5%
    width 100%
    font-size 95%
  
  .practical-skills td
    width 33%
  
  .practical-skills label 
    display inline-block
  
  .practical-skills__check_top 
    margin-top -2%
  
  input[type="checkbox"] + label span
    margin-top 3px
    margin-right 4px
    width 20px
    height 24px
  
  input[type="checkbox"]:checked + label span
    margin-top -5px
    margin-right 4px
    width 20px
    height 32px
  
  .skills-js-h3
    margin-left 5.9%
    font-size 110%

  .skills-js 
    margin-top 4.5%
    margin-left 2.85%
  
  #slider
    margin-right 7.6%
  
  .footer 
    margin-top 9.9%
    margin-bottom 3.5%
  
  .footer__h3
    margin-left 4%
    font-size 110%
  
  .footer__podpis 
    margin-top -1.95%
    margin-left -.7%
  
  .footer__date 
    margin-left 12px
    margin-bottom 14.5%
    font-size 135%
  
  .footer__border_border-podpis 
    margin-left 5%
    max-width 142px