.footer
    h3.footer__h3 Дата заполнения
    .footer__podpis
        p.footer__date 31.07.2015
        img.footer__border_border-podpis(src="assets/images/border6.gif", alt="CSSSR", width="209", height="4")

.clear