.header
    .header__logo
        img(src="assets/images/logo.png", alt="CSSSR", width="143", height="34")
        p.header__logo-p Секретный архив учреждения
    .header__secret
        img(src="assets/images/hand.png", alt="CSSSR", width="252", height="106")
.header__delo
    img(src="assets/images/delo.png", alt="CSSSR", width="213", height="108")