doctype html
html(lang="ru")

    include ../blocks/head.jade

    body
        .main
            include ../blocks/header.jade

            include ../blocks/main.jade

            include ../blocks/footer.jade
