+between(370px, 480px)
    img
        max-width: 105%

    .header__logo-p
        font-size: 45%

    .header__secret
        margin-left 26%

    .header__delo
        margin-top 7%
        margin-bottom 12%

    .header__delo img
        max-width 42%
        height auto
        width auto\9 /* ie8 */

    .about-table
        margin-top -14%
        margin-left 5.5%

    .about-table__left
        width: 100px

    .about-table img
        max-width 95.5%
        height auto
        width auto\9 /* ie8 */

    .about-table__h3
        margin-left 0
        font-size 95%

    .about-table__p
        margin-top 12%
        margin-left 2%
        margin-bottom 27px
        font-size 120%

    .about-table__border
        margin-top -10%
        margin-left 0%
        margin-bottom 30px

    .about-table-academy
        margin-top -11%
        margin-top -7%

    .about-table-academy__h3
        margin-left 20%
        display inline-block
        max-width 100px
        font-size 95%

    .about-table-academy__link
        margin-top 2%
        margin-left 17.9%
        margin-right 5%
        display inline-block
        font-size 100%

    .about-table-academy__radio
        margin-top 5%
        margin-left 45px
        font-size 95%

    input[type="radio"] + label span
        margin-left -6%;
        margin-right 0

    .naviki-h3
        margin-left 6%
        font-size 95%

    .naviki-info
        margin-top 25px
        margin-left 4.9%
        line-height 1.5

    .naviki-info__star
        margin-top -24px

    .naviki-info__p
        margin-top -20px
        width 100%
        max-width 404px
        font-size 70%

    #practical
        max-width 96%

    .practical-skills
        margin-top -1%
        margin-left 1%
        width 100%
        font-size 63%

    .practical-skills td
        width auto

    .practical-skills label
        display inline-block

    .practical-skills__check_top
        margin-top -2%

    input[type="checkbox"] + label span
        margin-top 3px
        margin-right 4px
        width 20px
        height 24px

    input[type="checkbox"]:checked + label span
        margin-top -5px
        margin-right 4px
        width 20px
        height 32px

    .skills-js-h3
        margin-left 6%
        font-size 95%

    .skills-js
        margin-top 6%
        margin-left 2%

    #slider
        margin-right 5.5%

    .border-skills
        margin-top -2%
        display inline-block

    .border-skill1
        margin-left 6.2%
        width 2px !important
        height 15px !important

    .border-skill2
        margin-left 20%
        width 2px !important
        height 10px !important

    .border-skill3
        margin-left 45.1%
        width 2px !important
        height 10px !important

    .border-skill4
        margin-top -3.5%
        margin-left 94.2%
        width 2px !important
        height 15px !important

    .uroven-block
        font-size 50%

    .uroven-block1
        margin-top .8% !important
        margin-left 6%

    .uroven-block2
        margin-top 1px !important
        margin-left 12.2%

    .uroven-block3
        margin-top 1px !important
        margin-left 2.8%

    .uroven-block4
        margin-left 2.4%

    .footer
        margin-top 12%
        margin-bottom 2.5%

    .footer__h3
        margin-left 4%
        font-size 95%

    .footer__podpis
        margin-top -2.5%
        margin-left -1%

    .footer__date
        margin-left 12px
        margin-bottom 17%
        font-size 115%

    .footer__border_border-podpis
        margin-left 5%
        max-width 125px