.footer
    margin-top 79px
    margin-left 5px
    margin-bottom 45px

.footer__h3
    margin-left 100px
    margin-right 2px
    float left
    font-family 'PT Sans Bold', 'PT Sans', arial
    font-size 22px
    font-weight bold
    color #2E1A15

.footer__podpis
    margin-top -24px
    margin-left 5px
    display inline-block

.footer__date
    margin-left 12px
    margin-bottom 23px
    font-family Courier New
    font-size 30px
    font-weight 400
    text-align left
    color #231F20

mySelectors1 = '.footer__border, .footer__border_border-podpis'
{mySelectors1}
    margin-bottom 30px

.footer__border_border-podpis
    margin-top -37px
    margin-left 0
    width 211px